.home {
    --primary-color: #2162AC;
    --border-color:#D3D3D3;
    background-color: #F3F5F9;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.heading{
    font-size: 1.2em;
    font-weight: 600;
    color: #27292F;
}

.subHeading{
    font-size: 1em;
    font-weight: 400;
    color: #27292F;
}

/* -------------------------------------------  */

nav {
    height: 4.25em;
    display: flex;
    position: relative;
    background-color: #FFFFFF;
}

nav div:nth-child(1) {
    width: 20%;
    border-right: 1px solid #CEDCEE;
}

nav img {
    position: absolute;
    top: 1em;
    left: 2.5em;
}

.back-button {
    color: var(--primary-color);
    display: flex;
    gap: 1em;
    margin: 0.5em 0em 0.5em 2.5em;
    font-size: 1.2em;
}

.back-button a {
    background-color: var(--primary-color);
    height: 1.5em;
    width: 1.5em;
    padding-left: 0.2em;
    padding-top: 0.2em;
    border-radius: 50%;
}

.back-button p {
    font-weight: 400;
}

.back-button img{
    padding-bottom: 0.2em;
    padding-left: 0.1em;
}

.package-id {
    font-weight: 700;
}

main {
    max-width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.header p {
    font-size: 1.2em;
    color: #4E4E4E;
    padding: 1em 0;
    background-color: #FFFFFF;
}

.header p:nth-child(1) {
    width: 20%;
    text-align: center;
    font-weight: 700;
}

.header p:nth-child(2) {
    width: 80%;
    font-weight: 600;
    padding-left: 1em;
}

/* ------------------------------------------------------  */

.package-details {
    background-color: #FFFFFF;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 6px 6px 0px 0px;
}

.supplier-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.imageDiv
{
    width: 25%;
}

.imageDiv img{
    padding: 1em 2em ;
}

.supplier-details {
    width: 75%;
}

.supplier-table,
.package-part-table {
    display: flex;
    width: 100%;
}

.supplier-table .supplier-container:nth-child(1) {
    width: 55%;
}

.supplier-table .supplier-container:nth-child(2) {
    width: 45%;
}

.supplier-container,
.package-part-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(20%, 80%));
    border: 1px solid var(--border-color);
}


.supplier-container div,
.package-part-container div {
    padding: 0.5em;
    border-bottom: 1px solid var(--border-color);
    max-height: 100%;
}

.supplier-container div:nth-child(odd),
.package-status-sub-item p:nth-child(1),
.package-part-container div:nth-child(odd) {
    font-size: 0.9em;
    font-weight: 400;
    color: #666C84;
}

.supplier-container div:nth-child(even),
.package-status-sub-item p:nth-child(2),
.package-part-container div:nth-child(even) {
    font-size: 1em;
    font-weight: 500;
    color: var(--primary-color);
    word-wrap: break-word;
}

/* ----------------------------------------------------------------  */

.package-status {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 2em 0em;
    width: 100%;
}

.package-status-sub-item {
    width: 33.33%;
    border: 1px solid var(--border-color);
    display: grid;
    grid-template-columns: 40% 60%;
}

.packageHeading{
    font-weight: 400;
    font-size: 0.9em;
    color: #666C84;
    border-right: 1px solid var(--border-color);
    padding: 0.6em 0.3em;
}

.packageInfo{
    font-weight: 500;
    font-size: 1em;
    color: var(--primary-color);
    padding: 0.6em 0.3em;
}

/* ------------------------------------------------------------------   */

.package-part-table .package-part-container {
    width: 50%;
}

/* -----------------------------------------------   */

.package-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1em;
}

.package_image_block {
    width: 33.33%;
    border: 1px solid var(--border-color);
}

.package_image_block div {
    border-bottom: 1px solid var(--border-color);
    text-align: center;
    padding: 1em 3em;
}

.package_image_block div img
{
    width: 100%;
}



/* ---------------------------------------------------------  */
.packaging-spec-container{
    border: 1px solid var(--border-color);
}

.packaging-spec-container .column {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
}

.packaging-spec-container .column div {
    font-size: 1.2em;
    color: #27292F;
    font-weight: 500;
    padding: 0.6em;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    word-wrap: break-word;
}

.packaging-spec-container .column div:nth-child(2),.packaging-spec-container .column div:nth-child(3)
{
    text-align: center;
}

.specificationHeader
{
    display: grid;
    grid-template-columns: 33.33% 66.67%;
}

.specificationTitle{
    display: grid;
    grid-template-rows: repeat(10,1fr);
}

.specificationTitle div,.contentDetail div{
    padding: 0.6em;
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    display: flex;
    align-items: center;
}


.specificationTitle div{
    color:#666C84;
    font-weight: 400;
}

.contentDetail div{
    justify-content: center;
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 500;
}

.primaryContent{
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.primaryContent .contentDetail:nth-child(2) div
{
    border-right: none;
}

.contentDetail{
    display: grid;
    grid-template-rows: repeat(10,1fr);
}

.rowArray3, .rowArray2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em !important;
}

.rowArray3 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    border: none;
    padding: 0em;
    height: 100%;
    border-right: 1px solid var(--border-color) !important;
}

.rowArray2 div{
    border: none;
    padding: 0em;
    height: 100%;
    border-right: 1px solid var(--border-color) !important;
}

.rowArray2 div:nth-child(1) {
    flex: 1;
}

.rowArray2 div:nth-child(2) {
    flex: 2;
}

/* ------------------------------------------------------   */

.shippingDataContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 1px solid var(--border-color);
}

.dataContainer1,.dataContainer{
    display: grid;
    grid-template-rows: repeat(10,1fr);
}

.dataContainer div, .dataContainer1 div{
    border-bottom: 1px solid var(--border-color);
    padding: 0.6em;
    border-right: 1px solid var(--border-color);
}

.dataContainer1 div{
    color: #666C84;
    font-weight: 400;
    font-size: 0.9em;
    padding-top: 0.8em !important;
}

.dataContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.spanHeading
{
    grid-row: 1/2;
}

.spanrow1{
    grid-row: 2/6;
}

.spanrow2{
    grid-row: 6/7;
}

.spanrow3{
    grid-row: 7/8;
}

.spanrow4{
    grid-row: 8/10;
}

.rowArrayX, .rowArrayY {
    display: flex;
    width: 100%;
    padding: 0em !important;
}

.rowArrayX p, .rowArrayY div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #D3D3D3;
    padding: 0em !important;
    height: 100%;
}

.rowArrayX p{
    width: 33.33%;
}

.rowArrayY div{
    width: 50%;
}

.shippingDataContainer .dataContainer {
    font-size: 1em;
    color: var(--primary-color);
    font-weight: 500;
}

.spanrow2 div:nth-child(1) {
    font-size: 1em;
    color: #21AC27;
}

.spanrow2 div:nth-child(2) {
    font-size: 1em;
    color: #EE2A2A;
}

.spanHeading {
    color: #27292F;
    font-size: 1.2em;
    font-weight: 500;
}

.shippingDataContainer .dataContainer:nth-child(2) div:nth-child(10) {
    border-right: none !important;
    border-bottom: none;
    justify-content: flex-end;
}

.shippingDataContainer .dataContainer:nth-child(2){
    border-right: none !important;
}

.shippingText{
    color: #EE2A2A;
    font-size: 0.9em;
    font-weight: 400;
}

/* ---------------------------------------------------  */
.comment_section textarea{
    resize: none;
    border: 1px solid var(--border-color);
}

/* ------------------------------------------------------------  */
.approval_data{
    border: 1px solid var(--border-color);
}

.approval_data_heading,
.approval_data_content {
    display: grid;
    grid-template-columns: repeat(3, minmax(20%, 80%));
    border-bottom: 1px solid #D3D3D3;
}

.approval_data_heading div {
    font-size: 0.9em;
    padding: 0.5em;
    font-weight: 500;
    color: #27292F;
    border-right: 1px solid var(--border-color);
}

#static_name_field {
    font-size: 0.9em;
    font-weight: 400;
    color: #666C84;
}

.approval_data_content div {
    border-right: 1px solid var(--border-color);
    padding: 0.5em;
}

.approvalData {
    font-size: 1em;
    font-weight: 500;
    color: var(--primary-color);
}

.approval_section{
    padding-bottom: 2em;
}

/* ------------------------------------------------   */

.downloadButton{
    height: 4em;
}

.downloadButton button{
    background-color: #82C1A7;
    color: white;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0.5em 1.4em;
    border-color: #82C1A7;
    border: none;
    margin-left:88%;
    margin-top:1% ;
}

.downloadButton button:hover{
    transform: scale(1.1);
    background-color: #60dba8;
    cursor: pointer;
}

/* ----------------------------------------------  */

footer {
    text-align: center;
    padding: 0.7em;
    font-size: 1em;
    color: #838EAB;
    font-weight: 400;
    background-color: #E1E4E9;
}

footer span {
    color: var(--primary-color);
}

/* ------------------------------------------  */

@media only screen and (min-width: 321px) and (max-width:640px) {

    .home {
        font-size: 12px;
    }

    .package-status
    {
        flex-wrap: wrap;
    }


    .package-status-sub-item {
        width: 100%;
    }

    .supplier-div {
        width: 100%;
        flex-direction: column;
    }

    .imageDiv, .supplier-details{
        width: 100%;
    }

    .package_image_block{
        width: 50%;
    }

    .imageDiv img{
        padding-left: 25%;
    }

    .rowArrayY {
        flex-direction: column;
    }

    .spanrow2 div {
        width: 100%;
    }

    .downloadButton button{
        margin-left: 70%;
    }
}



@media only screen and (min-width: 641px) and (max-width:1023px) {
    .home {
        font-size: 14px;
    }

    .supplier-div {
        width: 100%;
        flex-direction: column;
        }

    .imageDiv, .supplier-details{
        width: 100%;
    }

    .imageDiv img{
        padding-left: 40%;
    }

    .rowArrayY{
        width: 100%;
    }

    .spanrow2 div:nth-child(1),.spanrow2 div:nth-child(2){
        font-size: 0.8em;
    }

    .downloadButton button{
        margin-left: 80%;
    }
}